@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgba(155, 151, 151, 0.747);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: rgb(139, 136, 136);

}

menu li {
    display: inline-block;
    padding: 10px; 
    background-color: rgba(94, 91, 91, 0.774);
    color: white;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}